<div class="login">
  <div class="login__hero">
    <img class="login__bg-element login__bg-element--top" src="/assets/login-element1.png" alt="">
    <img class="login__bg-element login__bg-element--bottom" src="/assets/login-element2.png" alt="">
    <div class="login__brand">
      <i class='bx bxs-bank login__brand-icon'></i>
      <span class="login__brand-name">TagMe Bank</span>
    </div>
  </div>
  <div class="login__form-side">
    <div class="login__form-wrapper">
      <h1 class="login__title">Bienvenido</h1>
      <p class="login__subtitle">Inicia sesión en tu cuenta</p>
      <form (ngSubmit)="onLogin()" method="post" class="login__form">
        <div class="login__field">
          <label class="login__label" for="username">Nombre de usuario</label>
          <div class="login__input-wrapper">
            <i class='bx bxs-user login__input-icon'></i>
            <input class="login__input" id="username" type="text" placeholder="Tu nombre de usuario" name="email"
              [(ngModel)]="username" autocomplete="username" />
          </div>
        </div>
        <div class="login__field">
          <label class="login__label" for="password">Contraseña</label>
          <div class="login__input-wrapper">
            <i class='bx bxs-lock-alt login__input-icon'></i>
            <input class="login__input" id="password" type="password" placeholder="••••••••" name="password"
              [(ngModel)]="password" autocomplete="current-password" />
          </div>
        </div>
        <button class="login__submit" type="submit">
          Iniciar Sesión
          <i class='bx bx-right-arrow-alt'></i>
        </button>
      </form>
    </div>
  </div>
</div>