:host {
    display: block;
    height: 100%;
    width: 100%;
}

.embla {
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;

    &--horizontal {
        width: 100%;
    }

    &--vertical {
        height: 100%;
    }
}

.embla__container {
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;

    &--horizontal {
        flex-direction: row;
    }

    &--vertical {
        flex-direction: column;
    }
}