<div class="stats-page">
    <div class="stats-page__content">
        <div class="stats-page__movements-summary-amount">
            <div class="stats-page__amount-item">
                <div class="stats-page__amount-label">
                    <i class='bx  bxs-circle' style='color:#272838'></i>
                    Expenses
                </div>
                <span class="stats-page__amount-value">
                    {{ monthlyExpenses | currency }}
                    <i class='bx  bxs-arrow-right-stroke' style='color:#272838'></i>
                </span>
            </div>
            <div class="stats-page__amount-item">
                <div class="stats-page__amount-label">
                    <i class='bx  bxs-circle' style='color:#F3DE8A'></i>
                    Deposits
                </div>
                <span class="stats-page__amount-value">
                    {{ monthlyIncome | currency }}
                    <i class='bx  bxs-arrow-right-stroke' style='color:#272838'></i>
                </span>
            </div>
        </div>
        <div class="stats-page__stats-bars-container">
            <div class="stats-page__bar-content  stats-page__bar-content--left-bar"
                [style.height.%]="expensesPercentage"></div>
            <div class="stats-page__bar-content  stats-page__bar-content--right-bar"
                [style.height.%]="incomePercentage"></div>
        </div>
    </div>
    <div class="stats-page__right-side">
        <mat-calendar #calendar class="stats-page__calendar" [selected]="selectedDate"
            (selectedChange)="onDateChange($event)" (monthSelected)="onMonthChange($event)"
            [dateClass]="dateClass"></mat-calendar>
        <div class="stats-page__daily-movements">
            <h3 class="stats-page__daily-title">
                Movimientos del {{ selectedDate | date:'d MMMM yyyy' }}
            </h3>

            @if (dailyMovements.length > 0) {
            @for (movement of dailyMovements; track $index) {
            <a class="stats-page__daily-movement-item" [routerLink]="['/bank/movements/', accountId]"
                                [queryParams]="{ movementId: movement.id }">
                <span class="stats-page__movement-type">
                    <i class="bx" [ngClass]="{
                                        'bx-trending-up deposit': movement.type == 'DEPOSIT',
                                        'bx-trending-down withdrawal': movement.type == 'WITHDRAWAL'
                                    }">
                    </i>
                </span>
                <div class="stats-page__movement-central-info">
                    <span class="stats-page__movement-description">{{ movement.origin }}</span>
                </div>
                <span class="stats-page__movement-amount">
                    @if (movement.type == 'DEPOSIT') {
                    <span>+</span>
                    } @else {
                    <span>-</span>
                    }
                    {{ movement.amount | currency}}
                </span>
            </a>
            }
            } @else {
            <p class="stats-page__no-movements">No hay movimientos para este día</p>
            }
        </div>
    </div>
</div>